<div class="wrapper">

    <div class="body">
        <img class="logo" src="../../../assets/img/login.png" alt="login">
        <h1>Recuperar</h1>

        <form>
            <div class="form-floating mb-3">
                    <input type="Email" class="form-control" placeholder="name@example.com">
                    <label>Email</label>
                </div>
                

            <div class="d-grid gap-2">
                <button class="btn btn-primary btn-lg mb-3" type="button">Recuperar</button>
            </div>

            <a routerLink="/login">volver</a>
        </form>
    </div>
</div>